# Preprocessing of 30-year Thai lottery numbers

In [26]:
import numpy as np
import pandas as pd

## Read in csv file

In [27]:
csvFile = pd.read_csv("30Y.csv")
dataFrame = pd.DataFrame(data=csvFile, columns=['Day', 'Month', 'Year', '1St'])

## Find 100th, 10th, and 1th place value from first winning number

In [38]:
hundred = (dataFrame['1St'] / 100) % 10
ten = (dataFrame['1St'] / 10) % 10
one = (dataFrame['1St'] / 1) % 10

## Create artifact

In [47]:
sum = hundred + ten + one

## Add everything into dataframe

In [48]:
dataFrame['hundredth'] = hundred.astype(int)
dataFrame['tenth'] = ten.astype(int)
dataFrame['oneth'] = one.astype(int)
dataFrame['sum'] = sum.astype(int)

## Check result

In [49]:
dataFrame.head()

   Day  Month  Year     1St  hundredth  tenth  oneth  sum
0   16     12  2563  201303          3      0      3    6
1    1     12  2563  100994          9      9      4   23
2   16     11  2563  972661          6      6      1   13
3    1     11  2563  506404          4      0      4    8
4   16     10  2563  286051          0      5      1    6

## Save to another csv file

### Complete file

In [75]:
dataFrame.to_csv('30Y_preproc.csv')

### Training file

In [76]:
training = dataFrame.sample(frac=0.9)
training.to_csv('30Y_preproc_training.csv')

### Evalluation file

In [77]:
evaluation = dataFrame.drop(labels=training.index)
evaluation.to_csv('30Y_preproc_eval.csv')

### JSON source file

In [82]:
new_csv = pd.read_csv("30Y.csv")
new_dataFrame = pd.DataFrame(data=new_csv)
new_dataFrame.reset_index(drop=True)
new_dataFrame.to_json('30Y_preproc.json')

In [84]:
new_dataFrame.head()

,Day,Month,Year,1St,2ตัวบน,3ตัวบน,2ตัวล่าง,3ตัวหน้า1,3ตัวหน้า2,3ตัวล่าง1,3ตัวล่าง
0,16,12,2563,201303,3,303,70,377,828,72,517
1,1,12,2563,100994,94,994,84,93,776,834,984
2,16,11,2563,972661,61,661,46,368,741,208,255
3,1,11,2563,506404,4,404,40,154,598,62,245
4,16,10,2563,286051,51,51,38,189,464,45,980